@use 'variables' as *;
@use 'mixins' as m;

.appointment {
    margin: 2rem auto;
    border-top: 2px gray solid;

    &__remove {
        @include m.button($rojo, $blanco, $tablet) {
            width: auto;
            font-size: 2rem;
        }
    }
}

h3 {
    margin-top: 6rem;
}