@mixin button($bg-color, $text-color, $breakpoint) {
    color: $text-color;
    background-color: $bg-color;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.8rem;
    text-align: center;

    border-radius: .5rem;
    padding: 1rem 4rem;
    width: 100%;


    @media(min-width: $breakpoint) {
        @content;
    }


}

@mixin tabs {
    display: flex;
    align-items: center;
    gap: 1rem;

}