<form class="auth__form" [formGroup]="form" (ngSubmit)="sendEmail()" [class.my-2]="hasEmptyField() || errorFromServer() || mustShowSuccesMessage()">

    @if (hasEmptyField()) {
    <shared-notification-component class="mb-1" message="All the fields are mandatory!"
        [isError]="true"></shared-notification-component>
    }

    @if (errorFromServer()) {
    <shared-notification-component class="mb-1" [message]="errorFromServer()"
        [isError]="true"></shared-notification-component>
    }

    @if (mustShowSuccesMessage()) {
    <shared-notification-component class="mb-1" message="Check your email"
        [isError]="false"></shared-notification-component>
    }


    <div class="auth__field">
        <label for="email">Email</label>
        <input class="auth__input" type="text" id="email" placeholder="Your email" formControlName="email">
    </div>

    @if(hasErrorField('email')){
    @for (error of getErrorsByField('email'); track error) {
    <shared-notification-component [message]="error" [isError]="true"></shared-notification-component>
     }
    }

    <button class="auth__button text-start" [disabled]="sendEmailResource.isLoading()">
        Send Instruccions
    </button>
</form>