<nav class="navbar">
    <div class="navbar__item" (click)="navigateTo('/book/services')" routerLink="/book/services" routerLinkActive="navbar__item--selected">Services
    </div>
    <div class=" navbar__item" (click)="navigateTo('/book/appointment')" routerLink="/book/appointment"
        routerLinkActive="navbar__item--selected">
        Appointment data</div>
    <div class="navbar__item" (click)="navigateTo('/book/summary')" routerLink="/book/summary"
        routerLinkActive="navbar__item--selected">
        Summary</div>
</nav>