@use 'variables' as *;

.navbar {
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;

    &__item {
        cursor: pointer;
        flex-grow: 1;
        padding: 1rem;
        background-color: #0da6f3;
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;

    }

    @media(max-width: $tablet) {
        flex-direction: column;
    }

}


.navbar__item--selected,
.navbar__item:hover {
    transition: all 500ms ease-in;
    background-color: white;
    color: #0da6f3;
}