<form class="auth__form" [formGroup]="form" (ngSubmit)="changePassword()" [class.my-2]="hasEmptyField() ||errorFromServer()">

    @if (hasEmptyField()) {
    <shared-notification-component class="mb-1" message="All the fields are mandatory!"
        [isError]="true"></shared-notification-component>
    }

    @if (errorFromServer()) {
    <shared-notification-component class="mb-1" [message]="errorFromServer()"
        [isError]="true"></shared-notification-component>
    }

    @if (mustShowQueryParametersError()) {
        <shared-notification-component class="mb-1" message="Token or ID not valid"
            [isError]="true"></shared-notification-component>
    } @else {
        <div class="auth__field">
            <label for="password">Password</label>
            <input class="auth__input" type="password" id="password" placeholder="Your new password"
                formControlName="password">
        </div>

     @if(hasErrorField('password')){
        @for (error of getErrorsByField('password'); track error) {
            <shared-notification-component [message]="error" [isError]="true"></shared-notification-component>
        }
    }



    <div class="auth__field">
        <label for="password2">Password</label>
        <input class="auth__input" type="password" id="password2" placeholder="Confirm your new password"
            formControlName="confirmingPassword">
    </div>

    @if(hasErrorField('confirmingPassword')) {
        @for (error of getErrorsByField('confirmingPassword'); track error) {
            <shared-notification-component [message]="error" [isError]="true"></shared-notification-component>
        }   
    }

        <button class="auth__button text-start" [disabled]="updatePasswordResource.isLoading()">
            Save new password
        </button>
    }


</form>